CANVAS_BASE_URL=https://your-canvas-url
CANVAS_LOGIN_URL=https://your-canvas-login-url
CANVAS_EMAIL=your_email
CANVAS_PASSWORD=your_password

APP_TIMEZONE=America/Guatemala
HEADLESS=true
DAYS_AHEAD_WARNING=3

EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_SENDER=your_sender@gmail.com
EMAIL_APP_PASSWORD=your_app_password
EMAIL_RECIPIENT=your_personal_email@gmail.com